/* #region local fonts */
@font-face {
    font-family: AgencyFB;
    src: url("res/fonts/AGENCYR.TTF");
}
@font-face {
    font-family: AgencyFB;
    src: url("res/fonts/AgencyFBBold.ttf");
    font-weight: bold;
}
/* #endregion */

/* #region root elements */
html {
    font-family: AgencyFB, Veranda;
    font-size: 110%;
    letter-spacing: 0.01em;
}

body {
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    background: url("https://images6.alphacoders.com/992/992033.jpg") no-repeat center center fixed;
    background-size: cover;
}
/* #endregion */

/* #region content areas */
#root-container {
    display: flex;
}

#challenge-content-area {
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 1%;
    width: 100%;
}

#challenge-outer-area {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#settings-content-area {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-grow: 1;
}

#path-content-area {
    display: inline-flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 75%;
}

/* #endregion */

/* #region header */
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.no-select, #header > div > span {
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}
/* if backdrop support, override other options with higher specificity */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    div.tab-blur {
        background-color: rgba(55, 55, 60, 0.5);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
    div.tab-selected, div.tab-blur:hover {
        background-color: rgba(194, 18, 42, 0.5);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
    div.tab-bracket-blur {
        background-color: rgba(40, 40, 44, 0.8);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}
.tab-entry {
    display: flex;
    flex-grow: 0.333;
    width: 10em;
    height: 3em;
    align-items: center;
    justify-content: center;
    margin-right: -1.3em;
    background-color: rgba(55, 55, 60, 0.8);
    border-bottom: 0.3em solid rgb(142, 142, 143);
    color: #ABABAB;
    cursor: pointer;
}
.tab-selected, .tab-entry:hover {
    background-color: rgba(194, 18, 42, 0.8);
    border-bottom: 0.3em solid rgb(255, 78, 29);
    color: #F5F5F5;
}
.tab-angle {
    clip-path: polygon(0 0, calc(100% - 1.5em) 0, 100% 100%, calc(0% + 1.5em) 100%);
}
.tab-angle-right {
    margin-left: -0.2em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 1.5em) 100%);
}
.tab-angle-left {
    margin-right: -1.5em;
    clip-path: polygon(0 0, calc(100% - 1.5em) 0, 100% 100%, 0% 100%);
}
.tab-bracket {
    display: flex;
    flex-grow: 1;
    height: 3.3em;
    background-color: rgba(40, 40, 44, 0.7);
}
.tab-button {
    flex-grow: 0;
}
#add-challenge {
    width: 50%;
    height: 2em;
}
#add-challenge > span {
    padding-top: 0.1em;
}
/* #endregion */

/* #region level-2 */
#left-bar {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    /* flex-grow: 0.25; */
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}

/* #endregion level-2 */

/* #region nav */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    div.nav-blur {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(56, 55, 55, 0.5));
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}

div.nav-bar-selected, .nav-bar:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(194, 18, 42, 0.8));
}
.nav-bar {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 2%;
    border-bottom-right-radius: 0.5em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(56, 55, 55, 0.8));
    color: white;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
/* #endregion */

/* #region challenge bars */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    div.challenge-bar-blur {
        background-color: rgba(56, 55, 55, 0.5);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}

.challenge-bar {
    display: flex;
    flex-grow: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    background-color: rgba(56, 55, 55, 0.8);
    color: lightgrey;
}

.challenge-bar-data {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.challenge-bar-title {
    align-content: center;
    width: 100%;
}

.cb-type {
    display: inline-block;
    width: 2ch;
    padding: 0.4ch 0.5ch 0.2ch 0.5ch;
    margin-right: 1ch;
    text-align: center;
}
.type-br {
    background-color: rgb(64, 148, 158);
    color: rgb(114, 252, 255);
}
.type-a {
    background-color: rgb(108, 79, 198);
    color: rgb(199, 148, 255);
}
.type-c {
    background-color: rgb(215, 154, 8);
    color: rgb(255, 254, 24);
}


.challenge-bar-interior {
    position: relative;
    display: inline-block;
    width: 95%;
    min-height: 1.5em;
    background-color: rgba(27, 27, 27, 0.8);
    color: rgb(240, 144, 116);
}

.challenge-bar-interior[for-data] {
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-right: 2em;
    width: fit-content;
    min-width: 1em;
    overflow-wrap: normal;
}

.challenge-bar-interior > span {
    position: absolute;
    top: 0em;
    left: 0em;
    /* Bottom spacing controlled by challenge-bar-interior min-height */
    padding-left: 0.2em;
    padding-top: 0.2em;
}

.challenge-bar-progress {
    position: absolute;
    top: 0em;
    left: 0em;
    height: 100%;
    padding: 0.5% 1% 0.5% 1%;
    background-color: rgb(140, 65, 55);
}

/* Make the progress bar look like it's slanted */
.bar-angle {
    clip-path: polygon(0 0, calc(100% - 1.5em) 0, 100% 100%, 0% 100%);
}

.keyword {
    color: rgb(255, 208, 0);
}

.star-container {
    display: flex;
    width: fit-content;
    justify-content: end;
    align-items: center;
}
/* Spans that are children */
.star-container > span {
    /* 3 character width. +10 is max, but +1 is same width now */
    width: 3ch;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 0.5em;
}
.star-five {
    width: 2.5em;
    height: 2.5em;
}
/* Do the edit icon with CSS since sizing is easier this way */
.edit-icon {
    display: inline-flex;
    opacity: 0;
    align-items: center;
    margin-left: 1em;
    background: no-repeat url("res/images/edit-icon-32x32.png") 50% / 100%;
    transition-property: opacity;
    transition-duration: 100ms;
}
.edit-icon:hover {
    background: no-repeat url("res/images/edit-icon-32x32-hover.png") 50% / 100%;
    filter: brightness(1.5);
}
.edit-icon img, .search-icon img {
    vertical-align: top;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.search-icon {
    background: no-repeat url("res/images/search-icon.png") 50% / 100%;
}
.search-icon:hover, .search-icon.selected {
    background: no-repeat url("res/images/search-icon-hover.png") 50% / 100%;
    filter: brightness(1.5);
}
/* Make the icon visible when hovering on the entire div */
.challenge-bar:hover .edit-icon {
    opacity: 1;
}
.challenge-editor {
    width: inherit;
}
.edit-mode {
    display: inline-block;
    width: 7ch;
    height: 2em;
    padding: 0.4ch 0.5ch 0.2ch 0.5ch;
    margin-right: 1ch;
    text-align: center;
}
.challenge-editor select[data-chosen='BR'] {
    background-color: rgb(64, 148, 158);
    color: rgb(114, 252, 255);
}
.challenge-editor select[data-chosen='A'] {
    background-color: rgb(108, 79, 198);
    color: rgb(199, 148, 255);
}
.challenge-editor select[data-chosen='C'] {
    background-color: rgb(215, 154, 8);
    color: rgb(255, 254, 24);
}
.challenge-editor .star-container {
    display: inline-flex;
    float: right;
    height: 100%;
    align-content: center;
}
.challenge-editor .star-container .edit-text-div {
    box-sizing: border-box;
}
/* .challenge-editor .edit-text[type="number"] {
    width: 5em;
} */
.challenge-editor-line-1 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.challenge-editor-line-2 {
    margin-top: 0.2em;
}
.edit-icon.edit-checkmark {
    opacity: 1;
    background: no-repeat url("res/images/checkmark.png") 50% / 100%;
}
.edit-icon.edit-checkmark:hover {
    background: no-repeat url("res/images/checkmark-hover.png") 50% / 100%;
}
.edit-checkmark img {
    opacity: 0;
}
.edit-icon.edit-delete {
    opacity: 1;
    background: no-repeat url("res/images/trashcan.png") 50% / 100%;
}
.edit-icon.edit-delete:hover {
    background: no-repeat url("res/images/trashcan-hover.png") 50% / 100%;
}
.edit-delete img {
    opacity: 0;
}
/* #endregion challenge bars */

/* #region Challenge Filter */
#challenge-filter-area {
    display: flex;
    /* width: fit-content; */
    width: 1.4em; /* 1em from the search icon, .4 is 2x padding */
    background-color: rgba(56, 55, 55, 0.8);
    color: lightgrey;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0.2em;
    transition-property: width;
    transition-duration: 200ms;

}
#challenge-filter-area.selected {
    width: 100%;
}
#challenge-filter-area img {
    width: 1em;
    height: 1em;
}

span.filter-bar-textbox {
    margin-left: 1em;
    min-height: auto;
}

#btn-filter, #btn-filter-clear {
    height: auto;
}
/* #endregion */

/* #region Settings */
.settings-content {
    display: inline-flex;
    flex-grow: 0.5;
    padding: 1% 3% 1% 1%;
    margin-bottom: 1%;
    background-color: rgba(56, 55, 55, 0.8);
    color: lightgrey;
    
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    div.settings-blur {
        background-color: rgba(56, 55, 55, 0.5);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}

/* #endregion Settings */

/* #region Optimal Path */
#path-content {
    display: inline-flex;
    flex-direction: row;
    row-gap: 1em;
    flex-wrap: wrap;
    padding-left: 2em;
    padding-right: 2em;
}
#path-content div.title-break {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}
#path-content div.entries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    row-gap: 1em;
    justify-content: center;
}
div.entries {
    padding: 1em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), 
        rgba(56, 55, 55, 0.8), rgba(0, 0, 0, 0.0));
}
.path-entry {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin-right: 1em;
}
.path-entry span {
    margin-top: 0.5em;
}
.path-entry img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.path-entry .legend-name {
    font-weight: bolder;
}
/* #endregion Optimal Path */