/* #region local fonts */
@font-face {
    font-family: AgencyFB;
    src: url("res/fonts/AGENCYR.TTF");
}
@font-face {
    font-family: AgencyFB;
    src: url("res/fonts/AgencyFBBold.ttf");
    font-weight: bold;
}
/* #endregion */

/* #region root elements */
html {
    font-family: AgencyFB, Veranda;
    font-size: 110%;
    letter-spacing: 0.01em;
}

body {
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    /* background-image: url("https://cdnb.artstation.com/p/assets/images/images/040/012/643/large/derek-bentley-derekbentley-season10-lobby-03.jpg?1627586423"); */
    /* background-image: url("https://images6.alphacoders.com/992/992280.jpg"); */
    background-image: url("https://images6.alphacoders.com/992/992033.jpg");
    background-size: cover;
}
/* #endregion */

/* #region content areas */
#root-container {
    display: flex;
}

#challenge-content-area {
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 2%;
    flex-grow: 0.5;
}

#settings-content-area {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-grow: 1;
}

/* #endregion */

/* #region header */
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.no-select, #header > div > span {
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}
/* if backdrop support, override other options with higher specificity */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    div.tab-blur {
        background-color: rgba(55, 55, 60, 0.5);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
    div.tab-selected, div.tab-blur:hover {
        background-color: rgba(194, 18, 42, 0.5);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
    div.tab-bracket-blur {
        background-color: rgba(40, 40, 44, 0.8);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}
.tab-entry {
    display: flex;
    flex-grow: 0.333;
    width: 10em;
    height: 3em;
    align-items: center;
    justify-content: center;
    margin-right: -1.3em;
    background-color: rgba(55, 55, 60, 0.8);
    border-bottom: 0.3em solid rgb(142, 142, 143);
    color: #ABABAB;
    cursor: pointer;
}
.tab-selected, .tab-entry:hover {
    background-color: rgba(194, 18, 42, 0.8);
    border-bottom: 0.3em solid rgb(255, 78, 29);
    color: #F5F5F5;
}
.tab-angle {
    clip-path: polygon(0 0, calc(100% - 1.5em) 0, 100% 100%, calc(0% + 1.5em) 100%);
}
.tab-angle-right {
    margin-left: -0.2em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 1.5em) 100%);
}
.tab-angle-left {
    margin-right: -1.5em;
    clip-path: polygon(0 0, calc(100% - 1.5em) 0, 100% 100%, 0% 100%);
}
.tab-bracket {
    display: flex;
    flex-grow: 1;
    height: 3.3em;
    background-color: rgba(40, 40, 44, 0.7);
}
/* #endregion */

/* #region level-2 */
#left-bar {
    display: inline-flex;
    flex-direction: column;
    /* width: 25%; */
    flex-grow: 0.25;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}

/* #endregion level-2 */

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    div.nav-blur {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(56, 55, 55, 0.5));
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}
.nav-bar {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 2%;
    border-bottom-right-radius: 0.5em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(56, 55, 55, 0.8));
    color: white;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

/* #region challenge bars */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    div.challenge-bar-blur {
        background-color: rgba(56, 55, 55, 0.5);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}

.challenge-bar {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding-left: 1%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    background-color: rgba(56, 55, 55, 0.8);
    color: lightgrey;
}

.challenge-bar-data {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.challenge-bar-title {
    align-content: center;
    width: 100%;
}

.cb-type {
    display: inline-block;
    width: 2ch;
    padding: 0.4ch 0.5ch 0.2ch 0.5ch;
    margin-right: 1ch;
    text-align: center;
}
.type-br {
    background-color: rgb(64, 148, 158);
    color: rgb(114, 252, 255);
}
.type-a {
    background-color: rgb(108, 79, 198);
    color: rgb(199, 148, 255);
}
.type-c {
    background-color: rgb(215, 154, 8);
    color: rgb(255, 254, 24);
}


.challenge-bar-interior {
    position: relative;
    display: inline-block;
    width: 95%;
    min-height: 1.5em;
    background-color: rgba(27, 27, 27, 0.8);
    color: rgb(240, 144, 116);
}

.challenge-bar-interior > span {
    position: absolute;
    top: 0em;
    left: 0em;
    /* Bottom spacing controlled by challenge-bar-interior min-height */
    padding-left: 0.2em;
    padding-top: 0.2em;
}

.challenge-bar-progress {
    position: absolute;
    top: 0em;
    left: 0em;
    height: 100%;
    padding: 0.5% 1% 0.5% 1%;
    background-color: rgb(140, 65, 55);
}

/* Make the progress bar look like it's slanted */
.bar-angle {
    clip-path: polygon(0 0, calc(100% - 1.5em) 0, 100% 100%, 0% 100%);
}

.keyword {
    color: rgb(255, 208, 0);
}

.star-container {
    display: flex;
    width: fit-content;
    justify-content: end;
    align-items: center;
}
/* Spans that are children */
.star-container > span {
    /* 3 character width. +10 is max, but +1 is same width now */
    width: 3ch;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 0.5em;
}
.star-five {
    width: 2.5em;
    height: 2.5em;
}
/* #endregion challenge bars */

/* #region Settings */
.settings-content {
    display: inline-flex;
    flex-grow: 0.5;
    padding: 1% 3% 1% 1%;
    margin-bottom: 1%;
    background-color: rgba(56, 55, 55, 0.8);
    color: lightgrey;
    
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    div.settings-blur {
        background-color: rgba(56, 55, 55, 0.5);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}

div.tab-as-button {
    flex-grow: 0.3;
}
/* #endregion Settings */